[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

ipython = "*"


[packages]

django = "*"
django-cors-middleware = "*"
django-extensions = "*"
djangorestframework = "*"
pyjwt = "*"
gunicorn = "*"
gevent = "*"
psycopg2-binary = "*"
"boto3" = "*"


[requires]

python_version = "3"
