option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: conduit/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
     "/static/": "/var/www/conduit/static/"
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: conduit.settings.ec2
    AWS_DEFAULT_REGION: us-east-1

container_commands:
  01_collectstatic:
    command: "django-admin.py collectstatic --noinput"
  02_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  03_statics:
    command: mkdir -p /var/www/conduit/static/
  04_wsgipassauth:
    command: 'echo "WSGIPassAuthorization On" >> /etc/httpd/conf.d/wsgi.conf'
